* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4faff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 75px;
  background-color: white;
  border-bottom: 2px solid #0077cc; 
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: bold;
}

.logo img {
  height: 100px;
}

.logo .destaque {
  color: #0077cc; 
}

.menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu a {
  text-decoration: none;
  color: #0077cc;
  font-weight: bold;
  transition: color 0.2s ease;
}

.menu a:hover {
  color: #005999; 
  text-decoration: underline;
}

.botoes {
  display: flex;
  align-items: center;
  gap: 15px;
}

.fale-conosco {
  background-color: #0077cc;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.fale-conosco:hover {
  background-color: #005999; 
}

.menu-icon {
  font-size: 22px;
  cursor: pointer;
  color: #0077cc;
}

.botao {
  background-color: white;
  color: #0077cc;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.botao:hover {
  background-color: #f4faff;
}
